@use 'fonts';

$primary-color: #6BBCDE;
$secondary-color: #ADBA5E;
$accent-color: #DA583F;
$second-accent-color: #FFA41B;
$body-text-color: #414042;
$heading-font-family: 'powergrotesk', helvetica, serif;
$subtitle-font-family: 'pixelifysans', helvetica, serif;
$labels-font-family: 'supply', helvetica, sans-serif;
$body-font-family: 'dmsans', helvetica, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;